// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.background-user {
  background: #E8DFF8;
}

.background-customer {
  background-color: #F8F8FD;
}

h1 h2 p a {
  color: #2F2E41;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #2F2E41;
}

h2 {
  font-size: 24px;
  font-weight: lighter;
  color: #2F2E41;
}

p {
  font-size: 18px;
  font-weight: lighter;
  color: #2F2E41;
}
