.page-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 10px;
}

.page-subheader {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.card-number {
  font-size: 140px;
  font-weight: bold;
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.status-card {
  background: #7C2DF8;
  border-radius: 50px;
  width: 235px;
  margin: 0 auto;
}
