<div class="container position-absolute top-50 start-50 translate-middle">
<div class="row">
  <div class="col-10 mx-auto text-center">
    <h1>Sorry to see you leave!</h1>
  </div>
  <div class="col-12 mx-auto text-center my-5">
    <%= image_tag "Appreciation.svg", width: 300 %>
  </div>
  <div class="col-12 mx-auto text-center">
    <h2 class="fw-light">We hope you come back another time.</h2>
  </div>
  <div class="status-buttons">
  <div class="btn-main">
  <%= link_to "Join the queue again", "/", class: "btn btn-main" %>
  </div>
  </div>
</div>
</div>
