<% content_for :meta_title, "Congratulations!" %>

<div class="container position-absolute top-50 start-50 translate-middle">
<div class="row">
  <div class="col-12 mx-auto text-center">
    <h1 id="counter">Congratulations!</h1>
  </div>
  <div class="col-12 mx-auto text-center my-5">
    <%= image_tag "Congrats.svg", width: 300 %>
  </div>
  <div class="col-12 mx-auto text-center">
    <h1 class="fw-light">It is your turn to enter!</h1>
  </div>
  <div class="status-buttons">
  <div class="btn-main">
  <%= link_to "Back to homepage", "/", class: "btn btn-main" %>
  </div>
  </div>
</div>
</div>
