<div class="container">
  <div class="row col-12">
    <h1>Conguralations!</h1>
  </div>
  <div class="row col-12">
    <%= image_tag "Congrats.svg", width: 350 %>
  </div>
  <div class="row col-12">
    <h1>It is your turn to enter!</h1>
  </div>
</div>