<% content_for :meta_title, "Position: #{@queue_position.position}" %>

<div class="page-header mx-3">
  <h1>Awesome <br> you are in the queue!</h1>
</div>
<div class="page-subheader">
  <h2>Your position:</h2>
</div>
<div class="status-card">
  <div class="card-number" id="counter">
    <%= @queue_position.position %>
  </div>
</div>

<div class="page-refresh">
  <p>This will refresh automatically.</p>
</div>

<div class="status-buttons">
  <div class="btn-queue">
    <%= link_to "Leave", queue_position_path(@queue_position), class: "btn btn-queue", method: :delete, data: { confirm: "Are you sure you want to leave the queue?" } %>
  </div>
</div>

