<div class="page-header">
  <h1>Awesome!</h1>
</div>
<div class="page-subheader">
  <h2>You are number...</h2>
</div>
<div class="status-card">
  <div class="card-number" id="counter">
    <%= @queue_position.position %>
  </div>
</div>

<div class="status-buttons">
  <div class="btn-left" id="alert-leaving">
    <button class= "btn btn-leave"><</button>
    <%= link_to "", "/leave", id: "leave-link", class: "hidden" %>
    <p class="btn-text">Leave</p>
  </div>
  <div class="btn-right">
    <%= link_to ">", "#", class: "btn btn-alert" %>
    <p class="btn-text">Alert me!</p>
  </div>
</div>
