<div class="container position-absolute top-50 start-50 translate-middle">
<div class="row">
  <div class="col-12 mx-auto text-center">
    <h1>Ready!</h1>
    <p class="position-number">There are only <%= @queue_position.position - 1 %> ahead of you</p>
  </div>
  <div class="col-12 mx-auto text-center my-5">
    <%= image_tag "Taken.svg", width: 300 %>
  </div>
  <div class="col-12 mx-auto text-center">
    <h1 class="fw-light">It's almost your turn so get closer...!</h1>
  </div>
</div>
</div>
