
<link rel="stylesheet" href="_new.scss">


<img src="Join.svg">
<div class="h1-header">
<h1>Welcome!</h1>
</div>
<h2>Secure your spot in the queue here, and avoid the hassle of standing in line.</h2>
<input type="text" name="mobile" placeholder="your mobile number">
<button>Secure my spot!</button>



